aside {
    grid-area: aside;
    width: auto;
    padding: 0.5%;
    margin: 100% 2% 7% 2%;
    text-align: center;
}

    .marcador{
        border-top: double 3px white;
        border-bottom: double 3px white;
        font-family: Rye;
    }

        #local{
            @include equipo_en_marcador
        }

        #visita{
            @include equipo_en_marcador
        }