//HISTORIA E HIMNO ---> JUNTAR
.colocolo{
    
    h1{
        text-align: left;
    }

    img{
        margin-top: 3%;
        border-radius: 0%;
        width: 50%;
        height: 50%;
        margin-bottom: 2%;
        text-align: center;
        opacity: 1;
    }
}
.Himno{
    margin-top: 30px;
    text-align: center;
    height: 120vh;

    iframe{
        width:50%;
        height:50%;
    }

    h1{
        @include Titulos;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    p{
        margin-top: 2%;
    }
}