//Index
#GrillaIndex{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main aside"
    "footer footer"
    ;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 90% auto;
}

@media only screen and (max-width: 769px) {
#GrillaIndex{
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "aside"
    "footer"
    ;
    grid-template-rows: 5% auto auto 5%;
    grid-template-columns: 100%;
}

#LogoMain{
    height: 50vh;
    width: 50vw;
}

aside{
    margin-top: 0%;
}
}

@media only screen and (max-width: 600px) {  

    #LogoMain{
    height: 40vh;
    width: 50vw;
}

aside{
    margin-top: 20%;
}

#LogoMenu{
    display: none;}
}

@media only screen and (max-width: 453px) {
    nav ul{
        font-size: 35%;
    }

    #LogoMain{
        display: none;
    }

    aside{
    margin-bottom: 20%;
    }
}