main{
    grid-area: main;
    width: auto;
    padding: 0.5%;
    margin: 3% 2% 7% 2%;
    text-align: justify;
    text-align: center;

    img {
        border: 2px solid map-get($colores, "DoradoColoColo");
        padding: 1%;
        border-radius: 50%;
        width: 40vw;
        height: 50vh;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    h1 {
        @include Titulos;
        text-align: center;
    }

    h2{
        margin-bottom: 3%;
        padding: 1%;
        width: auto;
        text-align: center;
    }

    p{
        margin: 2%;
        padding: 1%;
        width: auto;
        text-align: justify;
    }
}

    #TablaPuntaje{
        background-color: map-get($colores, "AzulColoColo" );
        font-size: 65%;
        margin-bottom: 5%;
        transition-duration: $Transiciones;
        border: map-get($colores, "DoradoColoColo") solid 4px;
        border-radius: 0 0 5% 5%;
        
        &:hover{
            box-shadow: 1px 7px 13px 8px map-get($colores, "BlancoColoColo");
            transition-duration: $Transiciones;
        }

        thead{
            @extend #TablaPuntaje;
            background-color: map-get($colores, "RojoColoColo");
            border: none;
        }

        tbody{
            @extend #TablaPuntaje;
            border: none;

            &:hover{
                box-shadow: none; 
            }
        }
    }

    .carousel{
        img{
            width: auto;
            border-radius: 0%;
            border: 0px solid map-get($colores, "DoradoColoColo");
            padding: 0%;
            border-radius: 0%;
            height: 30vh;
        }

        p{
            font-family: Rye;
            text-align: center;
            margin-top: 0px;
            font-size: 100%;
            color: map-get($colores, "RojoColoColo");

        }

        &-control-prev-icon{
            background-image: none;

            &:after{
                content: '<';
                font-size: 55px;
                color: map-get($colores, "DoradoColoColo");
            }
        }
        
        &-control-next-icon{
            background-image: none;

            &:after{
                content: '>';
                font-size: 55px;
                color: map-get($colores, "DoradoColoColo");
            }
        }
    }