h1{
    @include Titulos;
    text-align: center;
    margin-bottom: 2%;
}

.Plantel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article{
        width: 25%;
        height: auto;
        text-align: center;
        transition-duration: 2s;

        &:hover{
            color: black;
            background-color: map-get($colores, "BlancoColoColo");
            transition-duration: 2s;
            border: map-get($colores, "DoradoColoColo") 5px solid;
        }
    }
}