.Formulario{
    margin-top: 20px;
    text-align: center;
}

    .Formulario legend{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
    }

    .Formulario h2{
        border-top: #3a3a3a dashed;
        margin-top:10px;
        padding-top: 5px;
        border-bottom: #3a3a3a dashed;
        margin-bottom:10px;
        padding-bottom: 5px;
    }

    .Formulario form{
        font-size: 15px;
        width: 33%;
        height: 100%;
        background: black;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 4%;
        box-shadow: 7px 13px 37px #000;
        padding: 2% 3%;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color:whitesmoke;
    }

        .Formulario form ul{
            margin-top: 10px;
        }

            .Formulario form li{
                margin-top: 5px;
            }

.campo_singup{
    height: 100%;
    width: 100%;
}

    .BotonSignup{
        margin-top: 10%;
        padding: 5%;
        margin-bottom: 10%;
        align-content: center;
        background-color: blueviolet;
    }