//Variable

$colores: ("AzulColoColo":#005d9d, "BlancoColoColo":whitesmoke, "DoradoColoColo":#ead36d, "RojoColoColo":#e32219);

$Transiciones:1s;

//Mixin
@mixin equipo_en_marcador {
    height: 10%;
    width: 10%;
}

@mixin Titulos{
    border-top: 8px double map-get($colores, "DoradoColoColo");
    border-bottom: 8px double map-get($colores, "DoradoColoColo");
}

@mixin media_visual_1100px {
    margin-top: 3%;
    height: 50vh;
    width: 75vw;
    margin-bottom: 2%;
    text-align: center;
}

@mixin media_visual_769px {
    margin-top: 3%;
    height: 40vh;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 0%;
}